{% if tmux_unbinds is defined %}
{% for setting in tmux_unbinds %}
{{ setting }}
{% endfor %}
{% endif %}

{% if tmux_binds is defined %}
{% for setting in tmux_binds %}
{{ setting }}
{% endfor %}
{% endif %}

{% if tmux_g_opt is defined %}
{% for setting in tmux_g_opt %}
set-option -g {{ setting }} "{{ tmux_g_opt[setting] }}"
{% endfor %}
{% endif %}

{% if tmux_sg_opt is defined %}
{% for setting in tmux_sg_opt %}
set-option -sg {{ setting }} "{{ tmux_sg_opt[setting] }}"
{% endfor %}
{% endif %}

{% if tmux_g_win_opt is defined %}
{% for setting in tmux_g_win_opt %}
set-window-option -g {{ setting }} "{{ tmux_g_win_opt[setting] }}"
{% endfor %}
{% endif %}
